{% extends 'home/base.html' %}

{% load static %}

{% block content %}

<section class="s1">
    <div class="main-container">
        <div class="greeting-wrapper">
            <h2>Hi! I'm Andrés Camilo Álvarez Montoya</h2>
        </div>

        <div class="intro-wrapper">

            <div class="left-column">
                <img id="profile_pic" src="{% static 'images/photo_shirt.jpg' %}">
                <br>
                <h5 style="text-align: center; line-height:0;">Personalize Theme</h5>
                <div id="theme-options-wrapper">
                    <div data-mode="light" id="light-mode" class="theme-dot"></div>
                    <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
                    <div data-mode="green" id="green-mode" class="theme-dot"></div>
                    <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                </div>
                <p id="settings-note">*Theme settings will be save for <br> your next visit</p>
            </div>

            <div class="right-column">
                <div id="preview-shadow">
                <div id="preview">
                    <div id="corner-tl" class="corner"></div>
                    <div id="corner-tr" class="corner"></div>
                    <h3>Who am I?</h3>
                    <p>
                        PhD in Chemical engineering enthusiastic about solving problems
                        with Python who want to start a career as a developer.
                    </p>
                    <div id="corner-br" class="corner"></div>
                    <div id="corner-bl" class="corner"></div>
                </div>
                </div>
            </div>

        </div>
        
    </div>
</section>

<section class="s2">
    <div class="main-container">
        <div class="about-wrapper">
            <div class="about-me">
                <h4>More about me</h4>
                <p>
                    Have a great ability to apply new knowledge to other fields. 
                    Fast learner with great adaptability to new both cultural and jobs environments.
                </p>
                <p>I have a master degree in Materials.</p>
                <hr>

                <h4>My Skills</h4>

                <div id="skills">
                    <ul>
                        <li>Python</li>
                        <li>Numpy</li>
                        <li>Matplotlib</li>
                        <li>Scipy</li>
                        <li>Pandas</li>
                        <li>Django</li>
                    </ul>
                    <ul>
                        <li>Git/GitHub</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Javascript</li>
                        <li>AWS</li>
                        <li>Heroku</li>
                    </ul>
                </div>
            </div>
            <div class="social-links">

                <p>
                    Along my career as a chemical engineer, I found the time to be a self-taught in python programming and recently in web development. 
                    I have learnt autodidactically by watching videos or reading books. I have completed several online courses.
                </p>
                <a target="_blank" href="{% static 'files/resume.pdf' %}">Download Resume</a>

                <h4>Find me</h4>
                <a target="_blank" href="https://www.linkedin.com/in/acamalvarez/">LinkedIn: @acamalvarez</a>
                <a target="_blank" href="https://github.com/acamalvarez">GitHub: acamalvarez</a>
                
            </div>

        </div>
    </div>
</section>

<section class="s1">
    <div clas="main-container">
        <h3 style="text-align: center;"><a name="projects"></a>Some of my projects</h3>
        <div class="post-wrapper">

            <div class="card">
                <a href="https://solved-problems.herokuapp.com/" target="_blank"><img src="{% static 'images/solved_problems.svg' %}" class="thumbnail"></a>
                <p class="card-text" style="margin: 10%;">Web application that lists some problems I have solved using Python. Over time I will include more problems.</p>
                <h5 style="text-align: center;"><a target="_blank" href="https://github.com/acamalvarez/problems">Source code</a></h5>
                <div id="skills-card">
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>NumPy</li>
                        <li>Matplotlib</li>
                        <li>SciPy</li>
                    </ul>
                    <ul>                        
                        <li>pandas</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Heroku</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <a href="https://calcule-salario.netlify.app/" target="_blank"><img src="{% static 'images/calcule_salario.svg' %}" alt="Screenshot" class="thumbnail"></a>
                <p class="card-text" style="margin: 10%;">Web page to calculate the fortnight salary according Colombian legislation (written in Spanish)</p>
                <h5 style="text-align: center;"><a target="_blank" href="https://calcule-salario.netlify.app/">See project</a></h5>
                <h5 style="text-align: center;"><a target="_blank" href="https://github.com/acamalvarez/calculadora-salario">Source code</a></h5>
                <div id="skills-card">
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                    <ul>
                        <li>Javascript</li>
                        <li>Netlify</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <a href="https://natu-fresh.herokuapp.com" target="_blank"><img src="{% static 'images/natufresh_logo.png' %}" class="thumbnail"></a>
                <p class="card-text" style="margin: 10%;">Web page for the CRM of a ficticious grocery's company</p>
                <h5 style="text-align: center;"><a target="_blank" href="https://github.com/acamalvarez/natufresh">Source code</a></h5>
                <div id="skills-card">
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>CSS</li>
                    </ul>
                    <ul>
                        <li>HTML</li>
                        <li>AWS</li>
                        <li>Heroku</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <a href="https://acamalvarez.pythonanywhere.com/" target="_blank"><img src="{% static 'images/dj4e.svg' %}" alt="Screenshot" class="thumbnail"></a>
                <p class="card-text" style="margin: 10%;">Final project for the Django for Everybody Specialization on Coursera</p>
                <h5 style="text-align: center;"><a target="_blank" href="https://acamalvarez.pythonanywhere.com/">See project</a></h5>
                <h5 style="text-align: center;"><a target="_blank" href="https://acamalvarez.pythonanywhere.com/">Source code</a></h5>
                <div id="skills-card">
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>pythonanywhere</li>
                    </ul>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>

    </div>
</section>

<section class="s2">
    <div class="main-container">
        <h3  style="text-align: center;"><a name="GetIntouch"></a>Contact me</h3>

        <form id="contact-form" action="" method="POST">

            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {{ form }}

            <input id="submit-btn" type="submit" value="Send">
        </form>
    </div>
</section>

{% endblock %}