{% extends 'home/base.html' %}


{% block content %}

<div class="container text-center" style="width: 490px;">

    <h2>Quincena</h2>

    <form action="total" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="form-hours">

            <div class="dia-form-hours">
                <strong>Día</strong>
            </div>
            <div class="comienzo-form-hours">
                <strong>Hora entrada</strong>
            </div>
            <div class="numero-form-hours">
                <strong>Horas trabajadas</strong>
            </div>        

            {% for form in formset %}

            <div class="dia-form-hours">
                {{ form.day }}
            </div>

            <div class="comienzo-form-hours">
                {{ form.start_hour }}
            </div>

            <div class="numero-form-hours">
                {{ form.hour_number }}
            </div>

            {% endfor %}

        </div>

        <br>
        

        <input class="btn btn-primary" type="submit" value="Calcular salario">

    </form>

    <br><br>

    <a href="{% url 'salary' %}">
        <button type="button" class="btn btn-primary">Volver</button>
    </a>

</div>



{% endblock content %}