{% extends 'home/base.html' %}

{% block content %}

<div class="container">
    
    <h2 class="text-center">Calcule su salario</h2>
    <br>
    <p>
        Ingrese su salario básico mensual y la fecha
         de comienzo de la quincena que desea calcular.
    </p>

    <form action="{% url 'hours' %}" method="POST" id="salaryForm">

        {% csrf_token %}

        <strong>Salario:</strong>
        <br>
        {{ hour_form.salary_month }} 
        <br><br>
        
        <strong>Fecha de inicio:</strong>
        <br>
        {{ hour_form.start_date }}

        <br><br>

        <input type="submit" value="Ver quincena">

    </form>

</div>


    

{% endblock content %}