:root{
    --mainColor: #0cbbe7;
    --secondaryColor: #83e0f7;

    --borderColor: #164D56;

    --mainText: black;
    --secondaryText: rgb(59, 59, 59);

    --themeDotBorder: #fff;

    --previewBg: rgba(75, 137, 196, 0.8);
    --previewShadow: #7aa4b8;

    --buttonColor: #0c616e;
}